.header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  padding: 0em 1em;
  width: 100%;
}

.header .logo {
  width: 8em;
}

@media (min-width: 768px) {
  .header {
    flex-direction: row;
    padding: 0em 2em;
  }
}
