/*! version: undefined@undefined+undefined */
.lmo .offer_cards__section {
  background-color: #f2f2f2;
  color: var(--ds-color-beijing);
  font-family: var(--ds-type-system-sans);
  padding: 1.5rem 0;
}
.lmo .offer_cards__section.tabbed {
  background-color: #f5f4ef;
}

.lmo .offer_cards__section .ds-tab-list {
  background-color: #f2f2f2;
  border-bottom: unset;
  border-top: unset;
  height: 87px;
  margin-bottom: 29px;
  border-bottom: solid 1px #b6b6b6;
}

.lmo .offer_cards__section .ds-tab-list .ds-tab-item {
  margin: unset;
  list-style-type: none;
}

.lmo .offer_cards__section .ds-tab-item .ds-tab-item__link--selected {
  border-bottom-color: transparent;
  color: #3c4faf;
  background: #f5f4ef;
  border-left: solid 1px #b6b6b6;
  border-right: solid 1px #b6b6b6;
  border-top: 5px solid #3c4faf;
  border-bottom-color: transparent;
  background-color: #f5f4ef;
  margin-top: 1px;
}

.lmo .offer_cards__section .ds-tab-list li a {
  font-size: 20px;
  font-family: "EconSansOSBol", "EconSansOS", "EconSansOSSec", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: #868686;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
}

.lmo .offer_cards__section .ds-tab-list li {
  font-size: 20px;
}

.lmo .offer_cards__section a:hover {
  border-bottom-color: transparent;
  color: #868686;
}

.lmo .offer_cards__section .ds-tab-list .ds-tab-item {
  width: 334px;
}

.lmo .offer_cards__wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: initial;
  display: flex;
  justify-content: space-around;
  /* max-width: 89.5rem; */
  max-width: initial;
  width: 100%;
  flex-wrap: wrap;
}

.lmo .offer_cards__card {
  align-self: stretch;
  background-color: #ffffff;
  border: 5px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  box-shadow: -1px 2px 1px 0 rgba(215, 215, 215, 0.5);
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.lmo .offer_cards__card:not(:last-child) {
  margin-bottom: 1.5rem;
}

.lmo .offer_cards__card.best_value {
  border: 5px solid #adb5db;
  order: -1;
  position: relative;
}

.lmo .offer_cards__best_value {
  border-bottom-left-radius: 8px;
  background-color: #adb5db;
  font-size: var(--ds-type-scale--2);
  padding: 0.75rem;
  position: absolute;
  right: -4px;
  text-transform: uppercase;
  top: -4px;
}

.lmo .offer_cards__content {
  flex-grow: 1;
  padding: 37px 2rem 0.5rem;
}

.lmo .offer_cards__content.horizontal {
  flex-direction: row;
  display: flex;
}

.lmo .offer_cards__image {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.lmo .offer_cards__image img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.lmo .offer_cards__heading {
  font-size: var(--ds-type-scale-4);
  font-weight: 700;
  line-height: var(--ds-type-leading-upper);
  text-transform: initial;
}

.lmo .offer_cards__equivalent {
  font-size: var(--ds-type-scale--1);
  color: var(--ds-color-beijing);
  margin-bottom: 0.125rem;
}

.lmo .offer_cards__price {
  margin: 0.75rem 0 0.375rem;
}

.lmo .offer_cards__price span {
  font-family: var(--ds-type-system-sans);
  font-weight: 500;
}

.lmo .offer_cards__price s {
  color: var(--ds-color-moscow);
}

.lmo .offer_cards__price strong {
  font-size: var(--ds-type-scale-4);
  font-weight: 700;
}

.lmo .offer_cards__detailed_price {
  color: var(--ds-color-moscow);
  line-height: var(--ds-type-leading-lower);
}

.lmo .offer_cards__button_features_wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.lmo .always_minimise .offer_cards__button_features_wrapper {
  flex-direction: column-reverse;
}

.lmo .offer_cards__button {
  justify-content: center;
  margin: 0 auto;
  width: 100%;
}

.lmo .offer_cards__included_wrapper {
  margin: 1.5rem 0;
}

.lmo .offer_cards_included {
  align-items: center;
  background: none;
  border: none;
  color: var(--ds-color-beijing);
  display: flex;
  font-family: var(--ds-type-system-sans);
  font-size: var(--ds-type-scale-0);
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 0;
  width: 100%;
}

.lmo .offer_cards_included:focus {
  outline: none;
}

.lmo .offer_cards_included svg {
  margin-left: 0.3rem;
  width: 1rem;
  transition: 0.2s;
}

.lmo .offer_cards_included.open svg {
  transform: rotate(540deg);
}

.lmo .offer_cards_included.open svg {
  transform: rotate(540deg);
}

/* Account for transparent border */
.lmo .offer_cards__card:not(.best_value) .offer_cards__feature_rule.ds-rule {
  left: calc(-2rem - 5px);
  margin: 0;
  position: relative;
  width: calc(100% + 4rem + 10px);
}

/* Account for colored border */
.lmo .offer_cards__card.best_value .offer_cards__feature_rule.ds-rule {
  left: calc(-2rem);
  position: relative;
  width: calc(100% + 4rem);
}

.lmo .offer_cards__features {
  display: none;
  line-height: 2;
  margin: 0 auto;
  text-align: left;
}

.lmo .offer_cards_included.open ~ .offer_cards__features {
  display: block;
  margin-bottom: 1rem;
}

.lmo .offer_cards__features p::before {
  color: var(--ds-color-economist-red);
  content: "\2713";
  margin-right: 0.25rem;
}

.lmo .offer_cards__card:not(.best_value) .ds-rule {
  left: 5px;
  margin: 0 -10px;
  position: relative;
  width: calc(100% + 10px);
}

.lmo .offer_cards__end_rule {
  display: none;
}

.lmo .offer_cards__end a {
  color: var(--ds-color-beijing);
  font-size: var(--ds-type-scale-0);
  line-height: var(--ds-type-scale-3);
  border-bottom-color: var(--ds-color-beijing);
}

.lmo .offer_cards__end a:hover {
  border-bottom-color: transparent;
  text-decoration: none;
}

.lmo .offer_cards__end {
  padding: 1rem 0 1.2rem;
}

/* converted from @media (--ds-viewport-min-xlarge) */
@media (min-width: 90rem) {
  .lmo .offer_cards__wrapper {
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: initial;
  }

  .lmo .offer_cards__section {
    padding: 1.5rem;
  }

  .lmo .offer_cards__content {
    padding: 2rem;
  }

  .lmo .offer_cards__card {
    width: 31%;
  }

  /* .offer_cards__card:not(:last-child) {
    margin-bottom: 0;
  } */

  .lmo .offer_cards__card.best_value {
    order: 0;
  }

  .lmo .offer_cards_included {
    display: none;
  }

  .lmo .always_minimise .offer_cards_included {
    display: block;
  }
}

/* converted from @media (--ds-viewport-min-large) */
/* This is an awkward size as the cards aren't stacked but the screen is still fairly narrow */
@media (min-width: 60rem) and (max-width: 89.9rem) {
  .lmo .offer_cards__card {
    width: 32%;
    margin: 0 0.5rem;
  }

  .lmo .offer_cards__card:first-child {
    margin-left: 1rem;
  }

  .lmo .offer_cards__card:last-child {
    margin-right: 1rem;
  }

  .lmo .offer_cards__card:not(:last-child) {
    margin-bottom: 0;
  }

  .lmo .offer_cards__card.best_value {
    order: 0;
  }

  .lmo .offer_cards__best_value {
    font-size: var(--ds-type-scale--1);
    padding: 0.5rem;
  }

  .lmo .offer_cards__content {
    padding: 1.5rem;
  }

  .lmo .offer_cards__heading {
    margin-top: 10px;
    font-size: var(--ds-type-scale-4);
  }

  .lmo .offer_cards__price strong {
    font-size: var(--ds-type-scale-3);
  }

  .lmo .offer_cards__button {
    width: 100%;
  }

  .lmo .offer_cards_included {
    display: none;
  }

  .lmo .always_minimise .offer_cards_included {
    display: block;
  }

  .lmo .always_minimise .offer_cards_included.open ~ .offer_cards__features {
    display: block;
  }

  .lmo .offer_cards__features {
    max-width: 100%;
  }
}

/* converted from @media (--ds-viewport-min-large) */
@media (min-width: 60rem) {
  .lmo .offer_cards__wrapper {
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: initial;
  }

  .lmo .offer_cards__button {
    margin: 1rem auto;
  }

  .lmo .offer_cards__button_features_wrapper {
    flex-direction: column;
  }

  .lmo .always_minimise .offer_cards__button_features_wrapper {
    flex-direction: column-reverse;
  }

  .lmo .offer_cards__included_wrapper {
    margin: 0;
  }

  .lmo .always_minimise .offer_cards__features {
    display: none;
  }

  .lmo .always_minimise .offer_cards_included.open ~ .offer_cards__features {
    display: block;
  }

  .lmo .offer_cards__feature_rule {
    display: none;
  }

  .lmo .offer_cards__end_rule {
    display: block;
  }
}

/* converted from @media (--ds-viewport-min-medium) */
@media (min-width: 37.5rem) {
  .lmo .offer_cards__wrapper {
    margin: 0 5rem;
    width: calc(100% - 10rem);
  }

  .lmo .offer_cards__button {
    width: 80%;
  }

  .lmo .offer_cards__features {
    max-width: 80%;
  }
}

/* converted from @media (--ds-viewport-min-xlarge) */
@media (min-width: 90rem) {
  .lmo .offer_cards__wrapper {
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: initial;
  }

  .lmo .offer_cards__section {
    padding: 1.5rem;
  }

  .lmo .offer_cards__content {
    padding: 2rem;
  }

  .lmo .offer_cards__card {
    width: 31%;
  }

  .lmo .offer_cards__card:not(:last-child) {
    margin-bottom: 0;
  }

  .lmo .offer_cards__card.best_value {
    order: 0;
  }

  .lmo .offer_cards_included {
    display: none;
  }

  .lmo .always_minimise .offer_cards_included {
    display: block;
  }

  .lmo .always_minimise .offer_cards__features {
    display: none;
  }

  .lmo .always_minimise .offer_cards_included.open ~ .offer_cards__features {
    display: block;
  }
}


/*# sourceMappingURL=main.990bb611ddb33c058f52.css.map*/