.Features {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.Features .FeaturesWrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em auto;
  max-width: 1100px;
  min-width: 60%;
  overflow: hidden;
  padding: 1.5em 3em 3.125em;
}

.Features .FeaturesWrapper .Feature button.feature-button {
  padding: 0.25em 0.5em;
  background-color: #f47c24;
  border-color: #f47c24;
  border-radius: 0.25em;
  margin: 0.5em 0;
  color: white;
  transition: 0.2s;
}

.Features .FeaturesWrapper .Feature button.feature-button:hover {
  opacity: 0.9;
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .Features .FeaturesWrapper {
    margin: 0;
  }

  .Features .FeatureTextWrapper {
    max-width: 100%;
  }
}

.Features .FeaturesWrapper .FeaturesHeader {
  margin: 0 auto 1em auto;
  text-align: center;
}

.Features .FeaturesWrapper .FeaturesHeader.mainHeader {
  margin-bottom: 0;
}

/* It sets margin-bottom in 1.3 for the subHeader since the em is lower than the header */
.Features .FeaturesWrapper .FeaturesHeader.subHeader {
  margin-bottom: 1.3em;
  font-size: 1.5rem; /* uses the h4 font-size */
}

.Features .FeaturesWrapper .FeaturesContainer {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}

.Features .FeaturesWrapper .Feature {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 1.5em;
  flex-shrink: 0;
}

.Features .FeaturesWrapper .Feature img {
  margin-bottom: 0.5em;
  display: flex;
  vertical-align: middle;
  max-width: 100%;
  height: 10em;
}

.Features .FeaturesWrapper .Feature .FeatureTextWrapper h3 {
  margin: 0.5em auto;
  text-align: center;
}

.Features .FeaturesWrapper .Feature .FeatureTextWrapper p {
  margin: 0.5em auto 0em auto;
  text-align: center;
}

.Features .FeaturesWrapper .swipe-arrows-container,
.Features .FeaturesWrapper .feature-steps {
  display: none;
}

@media (max-width: 599px) {
  .Features {
    font-size: 90%;
  }

  .Features .FeaturesWrapper .FeaturesContainer {
    flex-wrap: wrap;
  }

  .Features .FeaturesWrapper .Feature {
    margin: 1.5em 0em;
    width: 100% !important;
  }

  .Features .FeaturesWrapper .feature-steps {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 1em;
    margin-top: -1.5em;
  }

  .Features .FeaturesWrapper .feature-steps .feature-step {
    color: #4a4b4b;
    margin: 0 5px;
    font-weight: bold;
    opacity: 0.4;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    user-select: none;
    font-size: 1.5em;
  }

  .Features .FeaturesWrapper .feature-steps .feature-step:hover {
    opacity: 0.6;
    cursor: pointer;
  }

  .Features .FeaturesWrapper .feature-steps .current-feature-step {
    opacity: 0.8;
  }

  .Features .FeaturesWrapper .feature-steps .current-feature-step:hover {
    opacity: 0.8;
    cursor: pointer;
  }

  .Features .FeaturesWrapper.mobile-swipe {
    padding: 0;
    position: relative;
  }

  .Features .FeaturesWrapper.mobile-swipe .FeaturesHeader {
    margin: 0 auto;
    padding: 1em 0;
  }

  .Features .FeaturesWrapper.mobile-swipe .FeaturesHeader.mainHeader {
    padding-bottom: 0;
  }

  .Features .FeaturesWrapper.mobile-swipe .FeaturesContainer {
    flex-wrap: nowrap;
    justify-content: flex-start;
    transition: 0.4s;
  }

  .Features .FeaturesWrapper.mobile-swipe .FeaturesContainer .Feature {
    flex-shrink: 0;
  }

  .Features .FeaturesWrapper .swipe-arrows-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 1em;
    position: absolute;
    top: calc(50% - 2em);
    z-index: 100;
  }

  .Features .FeaturesWrapper .swipe-arrows-container .swipe-arrow {
    width: 2em;
    height: 2em;
  }

  .Features .FeaturesWrapper .swipe-arrows-container .swipe-arrow:hover {
    cursor: pointer;
  }

  .Features .FeaturesWrapper .swipe-arrows-container .swipe-arrow.back {
    transform: rotate(180deg);
  }

  .Features .FeaturesWrapper .swipe-arrows-container .swipe-arrow svg {
    display: flex;
    width: 100%;
    height: 100%;
  }
}

.Features.square-theme {
  width: 100%;
  background: #f5f4ef;
}

.Features.square-theme .FeaturesWrapper {
  background: #fff;
  max-width: 1140px;
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.Features.square-theme .FeaturesWrapper h2 {
  color: #121212;
  font-family: "MiloTE-Medi", "MiloTE", "MiloTESec", Charter,
    "Bitstream Charter", "Iowan Old Style", "Calisto MT", serif;
  font-size: 2em;
  font-weight: 500;
  padding: 1em 0;
}

.Features.square-theme .FeaturesWrapper .Feature img {
  width: 212px;
  object-fit: contain;
}

.Features.square-theme .FeaturesWrapper .Feature .FeatureTextWrapper {
  width: 263px;
}

.Features.square-theme .FeaturesWrapper .Feature {
  height: 100%;
  min-height: 320px;
  width: unset;
}

.Features.square-theme .FeaturesWrapper .Feature .FeatureTextWrapper h3 p,
.Features.square-theme .FeaturesWrapper .Feature .FeatureTextWrapper h3 {
  font-family: "MiloTE-Medi", "MiloTE", "MiloTESec", Charter,
    "Bitstream Charter", "Iowan Old Style", "Calisto MT", serif;
  font-size: 1.25em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #121212;
}

.Features.square-theme .FeaturesWrapper .Feature .FeatureTextWrapper div,
.Features.square-theme .FeaturesWrapper .Feature .FeatureTextWrapper div p,
.Features.square-theme .FeaturesWrapper .Feature .FeatureTextWrapper p {
  font-family: "EconSansReg", "EconSansOS", "EconSansOSSec", -apple-system,
    BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 1em;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.38;
  letter-spacing: normal;
  text-align: center;
  color: #383e42;
}

.Features.square-theme .FeaturesWrapper .Feature a {
  margin-top: auto;
}

@media (max-width: 935px) {
  .Features.square-theme .FeaturesWrapper .FeaturesContainer {
    flex-wrap: wrap;
  }

  .Features.square-theme .FeaturesWrapper .Feature {
    width: 100% !important;
  }
}
