.Section {
  align-items: center;
  color: #8855ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.Section .SectionWrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 1100px;
  margin-bottom: 2em;
  margin-top: 2em;
  overflow: hidden;
}

.Section .SectionWrapper.top {
  flex-direction: column;
}

.Section .SectionWrapper.bottom {
  flex-direction: column-reverse;
}

.Section .SectionWrapper.right {
  flex-direction: row-reverse;
}

.Section .SectionWrapper.left {
  flex-direction: row;
}

@media screen and (-ms-high-contrast: active),
  screen and (-ms-high-contrast: none) {
  .Section .SectionWrapper {
    margin: 0;
  }
}

.Section .SectionWrapper .BodyContainer {
  display: flex;
  width: 100%;
}

.Section .SectionWrapper.right .BodyContainer {
  flex-direction: row-reverse;
}

.Section .SectionWrapper .ImageContainer {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  position: relative;
  width: 40%;
  max-width: 100%;
}

.Section .SectionWrapper.top .ImageContainer {
  width: 100%;
  margin: 3rem 3rem 0;
  flex-direction: row;
}

.TextContainer .ImageContainer.TextImage {
  display: flex;
  flex-direction: column;
  margin: unset;
  position: relative;
  width: 40%;
  max-width: 100%;
}

.Section .SectionWrapper.bottom .ImageContainer {
  width: 100%;
  margin: 0 3rem 3em;
  flex-direction: row;
}

.Section .SectionWrapper .ButtonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 3em;
  min-width: 15em;
}

.Section .SectionWrapper .ButtonsContainer a button {
  padding: 0.5em 0.75em;
  background-color: #f47c24;
  border: 1px solid #f47c24;
  border-radius: 0.25em;
  color: #fff;
  transition: 0.2s;
}

.Section .SectionWrapper .ButtonsContainer a button:hover {
  opacity: 0.8;
}

.Section .SectionWrapper .ImageContainer .Image {
  width: 100%;
}

.Section .SectionWrapper .ImageContainer .ImageCaption {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
  padding: 0.4em 0;
}

.Section .SectionWrapper.top .ImageContainer,
.Section .SectionWrapper.bottom .ImageContainer {
  flex-direction: row;
  padding: 0 3em;
}

.Section .SectionWrapper.top .ImageContainer .Image,
.Section .SectionWrapper.bottom .ImageContainer .Image {
  width: 10em;
}

.Section .SectionWrapper.top .ImageContainer .ImageCaption,
.Section .SectionWrapper.bottom .ImageContainer .ImageCaption {
  text-align: left;
  flex-direction: column;
  margin-left: 1em;
}

.Section .SectionWrapper .ImageContainer .Image.Rounded {
  border-radius: 10px;
}

.Section .SectionWrapper .ImageContainer .Image.Circular {
  border-radius: 100%;
}

.Section .SectionWrapper .ImageContainer .Image.Circle {
  width: 25vw;
  height: 25vw;
  border-radius: 50%;
  object-fit: cover;
}

.Section .SectionWrapper.top .ImageContainer .Image.Circle,
.Section .SectionWrapper.bottom .ImageContainer .Image.Circle {
  width: 10em;
  height: 10em;
}

.Section .SectionWrapper .TextContainer {
  margin: 3rem;
  width: 60%;
  max-width: 100%;
}

.Section .SectionWrapper .TextContainer .Header {
  color: #444444;
  margin: 0 0 1rem 0;
}

.Section .SectionWrapper .TextContainer .Text {
  color: #444444;
  margin: 0;
}

@media (max-width: 599px) {
  .Section {
    font-size: 90%;
  }

  .Section .SectionWrapper {
    flex-wrap: wrap;
  }

  .Section .SectionWrapper.right .BodyContainer,
  .Section .SectionWrapper .BodyContainer {
    flex-direction: column;
  }

  .Section .SectionWrapper.top .ImageContainer,
  .Section .SectionWrapper.bottom .ImageContainer,
  .Section .SectionWrapper .ImageContainer {
    padding: 1em 3em;
    width: 100%;
    flex-direction: column;
    margin: 0;
  }

  .Section .SectionWrapper .ImageContainer .Image.Circle {
    width: 70vw;
    height: 70vw;
    margin: 0 auto;
  }

  .Section .SectionWrapper.bottom .ImageContainer .Image,
  .Section .SectionWrapper.top .ImageContainer .Image {
    width: 100%;
    height: unset;
  }

  .Section .SectionWrapper.bottom .ImageContainer .ImageCaption,
  .Section .SectionWrapper.top .ImageContainer .ImageCaption {
    margin: 0;
    flex-direction: row;
    text-align: center;
  }

  .Section .SectionWrapper .TextContainer {
    margin: 1.5rem 3rem 3rem 3rem;
    width: 100%;
  }
}
