.Headings {
  align-items: center;
  color: #8855ff;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.Headings .HeadingsWrapper {
  margin: 3em;
  width: 60%;
}

.Headings .HeadingsWrapper h2 {
  margin: 0em 0em 1em 0em;
  text-align: center;
}

.Headings .HeadingsWrapper h3 {
  margin: 0em;
  text-align: center;
}

@media (max-width: 599px) {
  .Headings {
    font-size: 90%;
  }

  .Headings .HeadingsWrapper {
    margin: 3em;
    width: 100%;
  }
}
